Django==1.10.6
-e git+https://github.com/nishedcob/django-app-lti.git@db5d4320fad192be1d17c849f7845e3f69d642d3#egg=django-app-lti
-e git+https://github.com/nishedcob/django-auth-lti.git@164b23597e2a06bbb7c807871499433ebee7d316#egg=django-auth-lti
django-braces==1.3.1
httplib2==0.10.3
-e git+https://github.com/nishedcob/ims_lti_py.git@c04dae729656e5c0ee689830bae1955e520f6fdb#egg=ims_lti_py-develop
lxml==3.8.0
oauth2==1.9.0.post1
pkg-resources==0.0.0
psycopg2==2.7.1
python-gitlab==0.20
requests==2.13.0
six==1.10.0
