    {% block form_def %}
        <form method="{% block form_method %}post{% endblock %}" action="{% block form_target %}{% endblock %}"
                {% block form_additional_def %}{% endblock %}>
    {% endblock %}
            {% csrf_token %}
            {% block form_content %}
                {{ form.as_p }}
            {% endblock %}
            {% block form_submit %}
                <input type="submit" value="{% block form_submit_text %}Enviar{% endblock %}" class="{% block form_submit_button_classes %}{% endblock %}">
            {% endblock %}
        </form>